body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f2f2f2;
  }

  body{
    background-color: lightblue;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    height:80vh;
    width:90vw;
}
  
  h1 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 40px;
    font-style: italic;
    color: #333;
  }
  
  #taskInput {
    padding: 10px;
    font-size: 16px;
    width: 40%;
    margin-bottom: 20px;
    border: 2px solid lightgray;
    border-radius: 5px;
  }
  
  #addTask {
    padding: 10px 20px;
    background-color: #42b85d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #taskList {
    width:300px;
    padding:20px;
    border: 2px solid black;
    box-shadow: 4px 4px 1px  rgb(13, 13, 13);
    border-radius:20px;
    margin:30px;
    background-color :white;
  }
  
  #taskList li {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
  }
  
  .editBtn {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
  }
  
  .deleteBtn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  